html {
    margin: 0;
    padding: 0;
}

.container-content1 {
    background: url(HTMLLOGO.png);
    background-size: 250px;
    background-repeat: repeat-y;
    background-position: left;
    background-color: #ffa07a;
    padding: 15;
}
.container-content2 {
    background: url(CSSLOGO.png);
    background-size: 250px;
    background-repeat: repeat-y;
    background-position: right;
    background-color: #add8e6;
    padding: 15;
}
.container-content3 {
    background: url(JSLOGO.png);
    background-size: 250px;
    background-repeat: repeat-y;
    background-position: left;
    background-color: #fafad2;
    padding: 15;
}
.font-content{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;                                       
}
.judul-font{
    font-family: 'Poppins', sans-serif;
    color: #ff4500;
    font-size: 32px;
    font-weight: 900;
}
.judul-font2{
    font-family: 'Poppins', sans-serif;
    color: #3b84fa;
    font-size: 32px;
    font-weight: 900;
}
.judul-font3{
    font-family: 'Poppins', sans-serif;
    color: #e4d47b;
    font-size: 32px;
    font-weight: 900;
}
.RM1{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
.RM2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
.RM3{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.RM1:hover {
    color: #ff4500;
    text-decoration: underline;
}
.RM2:hover {
    color: #3b84fa;
    text-decoration: underline;
}
.RM3:hover {
    color: #e4d47b;
    text-decoration: underline;
}